# LIST CONCEPTS

###### list - give mutiple value including string
###### list - slice
###### append
###### extend
###### [[]]
###### with strigs
###### -----------------
###### min()
###### max()
###### sum()
###### sort()
###### -----------------
###### index()
###### insert()
###### pop()
###### del()
###### remove()

In [1]:
arr = [8,7,5,6,4]

In [2]:
arr[1]

7

In [3]:
arr[-2]

6

In [4]:
arr[1:]

[7, 5, 6, 4]

In [6]:
arr[1:][1]

5

In [26]:
name =['a','b','c','a'] # allow duplicate

In [27]:
name.count('a')

2

In [28]:
name.append('d')
name

['a', 'b', 'c', 'a', 'd']

In [29]:
comb =[arr,name]
comb

[[4, 5, 6, 7, 8], ['a', 'b', 'c', 'a', 'd']]

In [21]:
comb.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [30]:
comb[0].sort() # not assign any variable for sort
comb

[[4, 5, 6, 7, 8], ['a', 'b', 'c', 'a', 'd']]

In [31]:
comb[1].pop() # pop remove last element
comb

[[4, 5, 6, 7, 8], ['a', 'b', 'c', 'a']]

In [45]:
arr_copy = comb[0].copy()
arr_copy

[4, 5, 6, 7, 8]

In [49]:
comb.clear()

In [50]:
comb.extend(arr_copy)
comb

[4, 5, 6, 7, 8]

In [54]:
comb.insert(1,9) # with index to append
comb

[4, 9, 9, 5, 6, 7]

In [55]:
comb.remove(9) # remove last assiged value
comb

[4, 9, 5, 6, 7]

In [60]:
comb.sort(reverse=True)
comb

[9, 7, 6, 5, 4]

In [63]:
min(comb) # min max sum

4

In [65]:
del comb[1:2]
comb

[9, 5, 4]

In [66]:
comb

[9, 5, 4]

In [67]:
comb.index(5)

1

In [69]:
comb.extend(arr)
comb

[9, 5, 4, 4, 5, 6, 7, 8, 4, 5, 6, 7, 8]

In [72]:
comb.index(4) # it gives first one index only

2

In [82]:
# s.index(x, [start], [stop]) 
# Returns the smallest index, i, where s[i] ==x. Can include optional start and stop index for the search.
comb.index(7,9,-1)

11

# swap

In [76]:
# method 1
a ,b = 5,6
temp = a
a = b
b = temp
print(a,b)

6 5

In [77]:
# method 2 without 3rd variable
a, b = 4,3
a = a + b # 7
b = a - b
a = a - b
print(a,b)

3 4

In [78]:
# method 3 python feature
a,b = 8,9
a,b = b,a
print(a,b)

9 8

# tuple ()  
same as list can not be update and allow duplicate

can concat

.count()
.index()

In [80]:
tupl = (1,1,4,5) 
tupl

(1, 1, 4, 5)

In [81]:
tupl[1]

1

In [83]:
tupl[1] = 100

TypeError: 'tuple' object does not support item assignment

In [85]:
tupl.index(1)

0

In [86]:
tupl.count(1)

2

In [88]:
tupl1 = tuple([1,2,3])
tupl1

(1, 2, 3)

In [89]:
comb_tup = tupl + tupl1
comb_tup

(1, 1, 4, 5, 1, 2, 3)

# Set 
same as list but can not be duplicate and slice or query or index

can update it (used hash-table)

also auto sort

In [87]:
set_val = {2,2,2,3,4,5,6}
set_val

{2, 3, 4, 5, 6}

In [90]:
set_val[1]

TypeError: 'set' object is not subscriptable

In [91]:
set_val1 = set([9,8,4,5])
set_val1

{4, 5, 8, 9}

In [97]:
print(set_val,set_val1)
#uninon 
print(set_val | set_val1)
# inserstion
print(set_val & set_val1)
# difference
print(set_val - set_val1)
# symetric difference
print(set_val ^ set_val1)

{2, 3, 4, 5, 6} {8, 9, 4, 5}
{2, 3, 4, 5, 6, 8, 9}
{4, 5}
{2, 3, 6}
{2, 3, 6, 8, 9}

{4, 5}

{2, 3, 6}